body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#login-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#game-container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 12px grey;
}

#flag {
    width: 200px;
    height: 120px;
    border: 3px solid #000000;
    margin-bottom: 10px;
    border-radius: 12px;
}

input, select, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0px 5px 7px grey;
}

button {
    cursor: pointer;
    background-color: #0363c9;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #007bff;
}

#score {
    font-weight: bold;
}

#player-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


#instructions-container {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 12px grey;
    text-align: left;
}

#instructions-container h2 {
    font-size: 22px;
    color: #0363c9;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}

#instructions-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
}

#instructions-container ul {
    padding-left: 20px;
}

#instructions-container li {
    font-size: 15px;
    color: #555;
    margin-bottom: 8px;
}

#instructions-container button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #0363c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#instructions-container button:hover {
    background-color: #007bff;
}


#leaderboard-container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 5px 12px grey;
    text-align: center;
}

#leaderboard-container h2 {
    font-size: 24px;
    color: #0363c9;
    margin-bottom: 15px;
    font-weight: bold;
}

#leaderboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#leaderboard li {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}


#leaderboard li span {
    font-weight: bold;
}

#leaderboard li:hover {
    background-color: #f1f1f1;
}

#side-panel {
    position: absolute;
    top: 10px;
    left: 10px;
}